<div class="container">
    <div class="row text-center">
    <div class="col-md-12">
      <h1 class="burgerTitle">Welcome to Joseph's Burgers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 text-center specialBack">
      <h2 class="specialText">Check Out Our Daily Special</h2>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-3 text-center specialBack">
      <h2 class="specialText specialDay"></h2>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-4 burgerSection">
      <h1 class="titleTop">Freshly Made Burgers</h1>
       {{#each burgers}}
      {{#unless this.devoured}}
    <ul>
      <h2 class="burgerName">{{this.id}}. {{this.burger_name}} </h2>
      <form method="POST" action="/burgers/update?_method=PUT">
      <button class="burgerButton" id="eat" name="burger_id" value="{{this.id}}">EAT ME</button>
      </form>
    </ul>
    {{/unless}}
    {{/each}}
    </div>
    <div class="col-md-4">
       <img id="patty" src="/public/assets/img/JoBurgers.png">
    </div>
    <div class="col-md-4 burgerSection">
      <h1 class="titleTop">Burgers We've Eaten</h1>
       {{#each burgers}}
      {{#if this.devoured}}
    <ul>
      <h2 class="burgerEaten">{{this.id}}. {{this.burger_name}}</h2>
    </ul>
    {{/if}}
    {{/each}}
    </div>
  </div>
  <div class="row text-center bottomSection">
    <div class="col-md-12">
      <h1 class="newBurger">
        Got an Idea for a Burger?
      </h1>
    </div>
  </div>
  <div class="row text-center bottomSection1">
    <div class="col-md-12">
      <form method="POST" action="/burgers/create">
      <input class="burgerInput" type="text" name="burger_name" placeholder="Turkey Bacon Burger">
      <button class="burgerSubmit"  type="submit">Add to the Menu</button>
      </form>
    </div>
  </div>
</div>